.nav-icon3{
    width: 35px;
    height: 35px;
    position: relative;
    margin: 15px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @media(min-width:  992px){
        display: none;
    }
  }
  
  .nav-icon3 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

.nav-icon3 span:nth-child(1) {
    top: 4px;
  }
  
  .nav-icon3 span:nth-child(2),.nav-icon3 span:nth-child(3) {
    top: 15px;
  }
  
  .nav-icon3 span:nth-child(4) {
    top: 26px;
  }
  
  .nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }


  .navbar-brand{
    font-family: 'Archivo Black', sans-serif;
    @media(max-width: 1000px){
        font-size: 1.7rem !important;
        }
    }


    .navbar-nav{
        letter-spacing: 1px;
    }


  .navbar-collapse{
    display: flex;
    justify-content: end;
    font-weight: bold;
    @media(max-width: 991px){
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        padding-bottom: 60px;
        height: 700px;
        transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
        &.close{
            height: 0;
        }
        .nav-item, .navbar-nav{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  }


.carrito{
  position: absolute;
  top: 7px;
  right: 0px;
  background-color: #0e0d0df8;
}


.carrito-mobile{
  @media(max-width: 1000px){
    display: flex;
    align-items: center;
    }
}
  

.btn-carrito{
  display: block;
  @media(max-width: 1000px){
    right: 19px;
    top: 2px;
    display: block;
    }
}

.nav-item{
  @media(min-width: 1000px){
    padding-right: 24px;
    }
}

