.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 768px) {
        justify-content: space-evenly;

    }
}

.font-tam{
    font-size: 14px;
    color: gray;
}