.offcanvas{
    width: 100%;
    padding: 4px;
    .offcanvas-title{
        font-weight:600;
    }
    .offcanvas-body{
        .sub-title{
            font-size: 14px;
        }
        .valor{
            display: flex;
            justify-content: end;
        }

        .btn-form-enviar{
            border: 1px solid gray;
            width: 100%;
            height: 40px;
            border-radius: 6px;
        }
        .bord-form{
            height: 40px;
            width: 100%;
            border-bottom: 3px solid gray;
            outline: 0;
        }
        .btn-form-comprar{
            background-color: black;
            color: white;
            width: 100%;
            height: 40px;
            border-radius: 6px;
        }
        .pad-btn{
            @media (max-width: 767px) {
                padding-top: 14px;
            }
        }

        .cant{
            font-size: 12px;
        }

        .title-envio{
            font-size: 14px;
        }
        .bg-env{
            background-color: #e08001;
        }

    }
    .bord{
        border-bottom: 1px solid #afafaf9c;
    }
}